/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #093a4d;
		margin: 0;
		background: rgba(238, 238, 238, 0.63);
		font-weight: lighter;
	}

	/* TOPO */
		.area-topo{

		}
			.carrossel{}
				.carrossel #carrossel-inicial{}
					.carrossel #carrossel-inicial .item{
						height: 760px;
						background-size: cover!important;
						background-position:0 50% !important;
						position: relative;
					}
						.carrossel #carrossel-inicial .item .texto-carrossel{
							position: absolute;
							bottom: 190px;
							right: 70px;
							max-width: 510px;
							text-align: left;
						}
							.carrossel #carrossel-inicial .item .texto-carrossel span {
								color: white;
								line-height: 150%;
								font-size: 18px;
								text-shadow: 4px 2px 6px #333;
							}

		.topo{
			position: absolute;
			top:11px;
			width: 100%;
		}
			.topo .logo{
				position: absolute;
				z-index: 20;
			}

			.topo .navbar{
				z-index: 20;
				border: 0;
			}
				.topo .navbar .navbar-header{
					width: 100%;
					position: relative;
					background-color: rgb(244, 244, 244);

				}
				.topo .navbar .navbar-header .faixa{
					width: 100%;
					height: 80px;
					position: absolute;
					bottom: 0;
					background-color:#f4f4f4;
					display: none;

				}
					.topo .navbar .menu{
						margin-top: 62px;
						padding-left: 190px;
						padding-top: 10px;
						/*background-color: rgba(250, 250, 250, 0.7);*/
						width: 100%;
						min-height: 75px;
					}
						.topo .navbar .menu a {
							color: rgba(0, 0, 0, 0.7)!important;
							font-weight: 600!important;
							font-size: 17px;
						}
							.topo .navbar .menu a:hover {
								background: transparent!important;
								color: rgba(0, 0, 0, 0.5)!important;
							}
								.cmn-t-underline::after {
								    position: absolute;
								    top: 93%;
								    left: 0;

								    width: 100%;
								    height: .5px;

								    content: '';
								    transition: height .3s, opacity .3s, -webkit-transform .3s;
								    transition: height .3s, opacity .3s, transform .3s;
								    transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
								    -webkit-transform: translateY(-10px);
								            transform: translateY(-10px);

								    opacity: 0;
								    background: #2f6439;
								}

								.cmn-t-underline:hover {
								    color: #fff;
								    background: transparent!important;
								}

									.cmn-t-underline:hover::after {
									    height: 3px;

									    -webkit-transform: translateY(0px);
									            transform: translateY(0px);

									    opacity: 1;
									}
									li.sub-menu-dropdown >ul{
										box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.45);
									 -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.45);
									 -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.45);
									}
								 li.sub-menu-dropdown ul.sub-menu{
									 margin: 0;
									 list-style: none;
									 padding: 0;
									 width: 100%;
									 text-align: left;
									 display: none;
									 padding: 10px;
									}
								 li.sub-menu-dropdown:hover ul.sub-menu{
									display: block;
									position: absolute;
									top: 100%;
									background: #f4f4f4;
									padding: 10px 10px;
									border-radius: 0;
									z-index: 2;
									width: auto;
									min-width: 190px;
									left: 50%;
									-webkit-transform: translateX(-50%);
									-ms-transform: translateX(-50%);
									transform: translateX(-50%);
									}
									 li.sub-menu-dropdown ul.sub-menu li.sub-menu-item{
										 display: block;
										 padding: 10px 0 0;
										 position: relative;
										 display: block;

										}
										li.sub-menu-dropdown ul.sub-menu li.sub-menu-item.menuProjetos > ul{
											display: none;
											padding:0;
											padding-left: 20px;
										}
										li.sub-menu-dropdown ul.sub-menu li.sub-menu-item.menuProjetos > ul li{
										    padding-bottom:1px;
										    margin:0;
										}
										li.sub-menu-dropdown ul.sub-menu li.sub-menu-item.menuProjetos > ul li a{
										    font-size: 15px;
										}
											li.sub-menu-dropdown ul.sub-menu li.sub-menu-item.menuProjetos:hover  ul{
												display: block;
											}
										 li.sub-menu-dropdown ul.sub-menu li.sub-menu-item a{
										}

										}

	/* RODAPÉ */
		footer {
			background: url(../img/footer.png) no-repeat;
			background-size: cover;
			padding: 40px 10px 20px 0px;
			margin-top: 1px;
		}
			footer .rights{
				color: #C0C4C5;
				margin-bottom: 20px;
				font-size: 14px;
			}
			footer .social{
			}
				footer .social li {
					display: inline-block;
					list-style: none;
				}
					footer .social li i {
						font-size: 24px;
						color: #6c6e6e;
						margin: 0 5px;
					}
					footer .social li a:hover i {
						color: #538339;
					}

	/* GERAIS */
		.owl-dot span {
			background: #759354!important;
		}

		iframe {
		    max-width: 100%!important;
		    max-height: 100%!important;
		}

		/*---------------------------------------------------------------*/
		/***** EFEITO OSCAR NO QUADRO DE NOTÍCIAS DA PRIMEIRA PÁGINA *****/
		/*---------------------------------------------------------------*/
			.grid {
				position: relative;
				margin: 0 auto;
				padding: 1em 0 4em;
				max-width: 1200px;
				list-style: none;
				text-align: center;
			}

			/* Common style */
			.grid figure {
				position: relative;
				float: left;
				overflow: hidden;
				margin: 10px 1%;
				max-width: 480px;
				max-height: 360px;
				background: #3085a3;
				text-align: center;
				cursor: pointer;
			}

			.grid figure img {
				position: relative;
				display: block;
				min-height: 100%;
				max-width: 100%;
				opacity: 0.8;
			}

			.grid figure figcaption {
				padding: 18px 14px;
				color: #fff;
				text-transform: uppercase;
				font-size: 1.25em;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}

			.grid figure figcaption::before,
			.grid figure figcaption::after {
				pointer-events: none;
			}

			.grid figure figcaption,
			.grid figure figcaption > a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			/* Anchor will cover the whole item by default */
			/* For some effects it will show as a button */
			.grid figure figcaption > a {
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}

			.grid figure h2 {
				word-spacing: -0.15em;
				font-weight: 300;
				font-size: 26px;
    			word-spacing: 2px;
    			text-shadow: 2px 2px 6px black;
			}

			.grid figure h2 span {
				font-weight: 800;
			}

			.grid figure h2,
			.grid figure p {
				margin: 0;
			}

			.grid figure p {
				letter-spacing: 1px;
				font-size: 68.5%;
				margin-top: 20px;
			    padding: 0 8px;
			}

			figure.effect-oscar {
				/*background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);*/
				background: rgba(57, 99, 47, 0.69);
			}

			figure.effect-oscar img {
				opacity: 0.7;
				-webkit-transition: opacity 0.5s;
				width: 350px;
    			height: 300px;
    			object-fit: cover;
			}

			figure.effect-oscar figcaption {
				/*background-color: rgba(58,52,42,0.7);*/
				-webkit-transition: background-color 0.5s;
			}

			figure.effect-oscar figcaption::before {
				position: absolute;
				top: 15px;
				right: 15px;
				bottom: 15px;
				left: 15px;
				border: 1px solid #fff;
				content: '';
			}

			figure.effect-oscar h2 {
				/*margin: 4% 0 10px 0;*/
				-webkit-transition: -webkit-transform 0.5s;
				-webkit-transition: transform 0.5s;
				-webkit-transition: transform 0.5s, -webkit-transform 0.5s;
				-webkit-transform: translate3d(0,100%,0);
			}

			figure.effect-oscar figcaption::before,
			figure.effect-oscar p {
				opacity: 0;
				-webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
				-webkit-transition: opacity 0.4s, transform 0.5s;
				-webkit-transition: opacity 0.4s, transform 0.5s, -webkit-transform 0.5s;
				-webkit-transform: scale(0);
				-webkit-transform: scale(0);
			}

			figure.effect-oscar:hover h2 {
				-webkit-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				font-size: 20px;
			}

			figure.effect-oscar:hover figcaption::before,
			figure.effect-oscar:hover p {
				opacity: 1;
				-webkit-transform: scale(1);
				-webkit-transform: scale(1);
			}

			figure.effect-oscar:hover figcaption {
				background-color: rgba(58,52,42,0);
			}

			figure.effect-oscar:hover img {
				opacity: 0.4;
			}

		/*FANCYBOX*/
			.facybox-opened{
				background-color: rgba(0,0,0,0.6);
			}

			.fancybox-image{
				border: 3px solid white;
			}

			.fancybox-nav span{
				visibility: visible!important;
			}

		/*LOGO*/
			.logo h1 {
				font-size: 0;
				margin-top: 5px;
			}
			.logo img {
				width: 192px;
				max-height: 169px;
			}


		.titulo{
			font-size: 30px;
			font-weight: 600;
			color: #585858;
			/*padding: 0 10px;*/
		}
			.titulo i {
			color: #759354;
			font-size: 34px;
			margin-left: 10px;
			vertical-align: bottom;
			}
		.subtitulo{
			/*padding: 0 10px;*/
		}

		.topo-internas{
			min-height: 340px;
			background: url(../img/topo-interna2.jpg) no-repeat;
			z-index: -1;
			background-size: cover;
			background-position: 0 40%;
			position: relative;
		}
			.topo-internas .lente{
				background-color: rgba(0,0,0,0.2);
				height: 100%;
				width: 100%;
				position: absolute;
			}
				.topo-internas .lente p {
					max-width: 420px;
					position: absolute;
					bottom: 30px;
					left: 30%;
					color: white;
					font-size: 20px;
					text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);

				}
				.topo-internas .lente b {
					font-weight: 600;
				}
		a:hover{
			text-decoration: none!important;
		}
		nav>li>a:focus {
			background-color: transparent!important;
		}

		.owl-dots {
			position: absolute;
		    bottom: 20px;
		    right: 20px;
		}
			.owl-dot span{
			    display: inline-block;
			    width: 12px;
			    height: 12px;
			    margin: 5px 7px;
			    border-radius: 20px;
			    background: #aeaeae;;
			}
			.owl-dot.active span{
				border: 3px solid white;
				display: inline-block;
			}

		/*ENQUETES YOP POLL*/
			.yop-poll-container{
				background: transparent!important;
				margin: 0 auto!important;
				display: block!important;
				width: 130px!important;
			}
				div[class*='yop-poll-answers'] ul li label{
					font-size: 30px!important;
					font-weight: 700!important;
					text-align: right!important;
					color: white!important;
				}

				.yop-poll-footer button{
					display: block!important;
					border: 2px solid white!important;
					border-radius: 5px!important;
					color: white!important;
					padding: 0 20px!important;
					width: 90px!important;
					height: 40px!important;
					text-align: center!important;
				    margin-top: 10px!important;
				    transition: background-color 1s!important;
				    background-color: #567146!important;
				}
					.yop-poll-footer button:hover{
						background-color: white!important;
						color: #567146!important;
						text-decoration: none!important;
						border-color: white!important;
					}

						div[class*='yop-poll-question-container'] div[class*='yop-poll-question']{
							display: none!important;
						}
						li[class*='yop-poll-li-result'] label span{
							font-size: 16px!important;
						}

		/* ESTILIZAÇÃO PAGINADOR */
		.paginador{
			text-align: center;
		}
			.paginador li{
				list-style-type: none;
				display: inline-block;
				margin: 0 5px;
			}

				.paginador li a{
					font-size: 24px;
					font-weight: 700;
					color: #2f6439;
				}

		/* CATEGORIAS DO BLOG */
		.categorias-post{
			padding: 8px 0 3px;
			font-weight: 600;
			color: #008175;
		}
			.categorias-post a {
				font-weight: 600;
				color: #008175;
			}

	/* PG EM BREVE */
		.pg-embreve{

		}

			.pg-embreve .topo{
				background: url(../img/background-topo.png) no-repeat;
				background-size: cover;
				min-height: 677px;
				background-position:0 40%;
			}
				.pg-embreve .elementos-topo{
					position: relative;
					min-height: 677px;
				}
					.pg-embreve .topo .logo{
						position: absolute;
						left: 25px;
						top: 20px;
						background-color: rgba(0,0,0,0.6);
						color: white;
						padding: 15px;
					}
						.pg-embreve .topo .logo img {
							width: 100px;
							height: 100px;
							display: inline-block;
							vertical-align: top;
						}
						.pg-embreve .topo .logo p {
							display: inline-block;
							margin-left: 15px;
							font-size: 27px;
							max-width: 330px;
	    					text-align: center;
	    					vertical-align: bottom;
						}
					.pg-embreve .topo .sociais{
						position: absolute;
						right: 30px;
						top: 40px;
						display: block;

					}
						.pg-embreve .topo .sociais a {
							text-decoration: none;
						}
							.pg-embreve .topo .sociais a:hover i {
								color: #518631;
							}
							.pg-embreve .topo .sociais i {
								font-size: 30px;
								display: block;
								color: #504E4E;
								margin: 0 0 30px 0;
								text-shadow: 2px 2px 8px #ccc;
							}
					.pg-embreve .topo .frase{
						color: white;
						position: absolute;
						bottom: 115px;
						background-color: rgba(77,103,40,0.9);
						min-height: 100px;
						padding: 15px;
					}
						.pg-embreve .topo .frase .texto{
							font-size: 24px;
						}
						.pg-embreve .topo .frase .nome{
							font-size: 17px;
						}

			.pg-embreve .contato{
				padding: 55px 0;
				margin-top: 10px;
				background: url(../img/bg-form.png) no-repeat;
				background-size: cover;
			}
				.pg-embreve .contato .paragrafo1{
					font-size: 22px;
					margin-bottom: 40px;
					padding: 0 20px;
				}
					.pg-embreve .contato .paragrafo1 i {
						font-size: 40px;
						margin-left: 10px;
					}
				.pg-embreve .contato .paragrafo2{
					font-size: 22px;
					padding: 0 20px;
				}
				.pg-embreve .contato .formulario{
					padding: 0 40px;
				}
					.pg-embreve .contato .formulario .area-input{
						width: 100%;
						margin-bottom: 10px;
					}
						.pg-embreve .contato .formulario label {
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 600;
							margin-bottom: 1px;
							color: black;
						}
						.pg-embreve .contato .formulario .area-input input {
							background-color: rgba(250,250,250, 0.6);
							border: 1px solid black;
							width: 100%;
							max-width: 500px;
							min-height: 40px;
							margin-bottom: 10px;
							display: block;
							padding-left: 10px;
						}
						.pg-embreve .contato .formulario textarea {
							background-color: rgba(250,250,250, 0.6);
							border: 1px solid black;
							width: 100%;
							max-width: 500px;
							display: block;
							margin-bottom: 5px;
							padding-left: 10px;
						}
						.pg-embreve .contato .formulario .botao{
							background-color: #567146;
							border: 1px solid white;
							width: 100%;
							color: white;
							min-height: 50px;
							max-width: 500px;
							display: block;
							font-family:"Open Sans", "Fontawesome";
						}
						.pg-embreve .contato .formulario .botao i {
							display: inline-block;
						}

			.pg-embreve .galeria{
				margin: 10px 0;
			}
				.pg-embreve .galeria .row{}
					.pg-embreve .galeria .row .foto{
						height: 240px;
						margin: 2px;
						background-size: cover!important;
						background-position: 0 40%;
						position: relative;
					}
							.pg-embreve .galeria .row .foto .lente{
								width: 100%;
								height: 240px;
								background-color: rgba(0,0,0,0.5);
							}
								.pg-embreve .galeria .row .foto .lente-verde{
									position: absolute;
									bottom: 0;
									background-color: rgba(77,103,40,0.9);
									height: 55px;
									width: 100%;
									text-align: center;
									display: none;
								}
									.pg-embreve .galeria .row .foto a {
										color: white;
										font-size: 24px;
									}
									.pg-embreve .galeria .row .foto a i {
										margin-top: 13px;
										font-weight: lighter;
									}

			.pg-embreve .copyright{
				color: #D6D6D6;
				min-height: 70px;
				background-color: #345421;
				padding: 30px;
				text-align: center;
			}
				.pg-embreve .copyright .conteudo{
					position: relative;
				}
					.pg-embreve .copyright .texto{
						font-size: 15px;
						font-weight: lighter;
						display: inline-block;
						padding-right: 30px;
						/*margin-right: 50%;*/
					}
					.pg-embreve .copyright .sociais{
						display: inline-block;
					}
					.pg-embreve .copyright .sociais a{
						color: #D6D6D6;
					}
						.pg-embreve .copyright .sociais a:hover i {
							color: #518631;
						}
						.pg-embreve .copyright .sociais i {
							margin: 0 3px;
							font-size: 24px;
						}

	/* PG INICIAL */
		.pg-inicial{

		}
			.pg-inicial .perfil{
				min-height: 200px;
				position: relative;
				margin: 60px 0;
			}
				.pg-inicial .perfil .fundo{
					background-image: linear-gradient(to bottom, #8b8b8b, #535353)!important;
					background-image: -moz-linear-gradient( bottom, #8b8b8b, #535353)!important;
					background-image: -webkit-linear-gradient( bottom, #8b8b8b, #535353)!important;
					background-image: -o-linear-gradient( bottom, #8b8b8b, #535353)!important;
					background-image: -ms-linear-gradient( bottom, #8b8b8b, #535353)!important;
					min-height: 145px;
				}

				.pg-inicial .perfil .fantasma{
					width: 22%;
					height: 140px;
				}

				.pg-inicial .perfil .foto{
					width: 195px;
					height: 195px;
					position: absolute;
					top: -25px;
				}
				.pg-inicial .perfil .resumo{
					margin-top: 15px;
					color: white;
					font-size: 18px;
					font-weight: 400;
				}
					.pg-inicial .perfil .resumo p {
						margin: 15px 5px 10px 5px;
					}
				.pg-inicial .perfil .link{
				    display: inline-block;
				    margin: 35px 0 0 30px;
				}
					.pg-inicial .perfil .link a i{
						color: white;
						background-color: transparent;
						transition: background-color 1s;
					}
						.pg-inicial .perfil .link a:hover i {
							background-color: white;
							color: #567146;
						}
						.pg-inicial .perfil .link a i {
						    border-radius: 100%;
						    border: 1px solid white;
						    font-size: 40px;
						    width: 70px;
						    height: 70px;
						    text-align: center;
						    line-height: 70px;

						}
			.pg-inicial .ultimas-noticias{}
				.pg-inicial .ultimas-noticias .titulo{
					padding: 10px 20px;
				}
				.pg-inicial .ultimas-noticias .caixa{
					padding: 10px;
				}
			.pg-inicial .galeria-carrossel{
				margin: 100px 0;
				background: #aab6bb;
				padding: 50px 0;
				-webkit-transform:skew(0deg, 3deg); /* prefixo para browsers webkit */ /* prefixo para browsers gecko */ /* prefixo para opera */
						transform:skew(0deg, 3deg);
			}
				.pg-inicial .galeria-carrossel .skewoff{
					-webkit-transform:skew(0deg, -3deg); /* prefixo para browsers webkit */ /* prefixo para browsers gecko */ /* prefixo para opera */
							transform:skew(0deg, -3deg);
				}
					.pg-inicial .galeria-carrossel .skewoff .titulo{
						color: white;
						margin-bottom: 40px;
					}
					.pg-inicial .galeria-carrossel .galeria{
						margin-left: 10px;
						text-align: center;
					}
						.pg-inicial .galeria-carrossel .galeria .item{
							display: inline-block;
							border: solid 3px white;
						}
							.pg-inicial .galeria-carrossel .galeria a{
								border-color: #759354;
								color: #759354;
								font-weight: 400;
								float: right;
							}
							.pg-inicial .galeria-carrossel .galeria .botao{
							    margin-right: 15px;
							}
								.pg-inicial .galeria-carrossel .galeria .img-galeria{
									width: 215px;
									height: 180px;
									background-position: center!important;
									background-size: cover!important;
								}
			.pg-inicial .videos{
				padding: 0 0 50px 0;
			}
				.pg-inicial .videos .titulo{
					margin-bottom: 40px;
				}
				.pg-inicial .videos .galeria{}
					.pg-inicial .videos .galeria .item-video{
						padding: 5px;
					}
						.pg-inicial .videos .galeria .item-video iframe {
							margin: 0 auto;
    						display: block;
						}
					.pg-inicial .videos .galeria a{
						border-color: #759354;
						color: #759354;
						font-weight: 400;
						float: right;
					}
						.pg-inicial .videos .galeria a:hover{
							background-color: #759354!important;
							color: white!important;
							border-color: #759354!important;
						}
					.pg-inicial .videos .galeria .botao{
					    margin-right: 15px;
					}

			.pg-inicial .fale-conosco .titulo{
				display: block;
				max-width: 390px;
				margin: 20px auto;
				font-size: 24px;
			}
				.pg-inicial .fale-conosco .titulo i {
					font-size: 37px;
				}
			.pg-inicial .contato{
				padding: 55px 0;
				margin-top: 10px;
				background: url(../img/bg-form.png) no-repeat;
				background-size: cover;
			}
				.pg-inicial .contato .col-md-5{
					margin-top: 15px;
					margin-bottom: 40px;
				}
				.pg-inicial .contato img {
					display: block;
					margin: 0 auto 30px auto;

				}
				.pg-inicial .contato .paragrafo1{
					font-size: 22px;
					margin-bottom: 40px;
					padding: 0 20px;
				}
					.pg-inicial .contato .paragrafo1 i {
						font-size: 40px;
						margin-left: 10px;
					}
				.pg-inicial .contato .paragrafo2{
					font-size: 22px;
					padding: 0 20px;
					color: #042633;
				}
					.pg-inicial .contato .paragrafo2 span {
						display: block;
						margin: 0 auto;
						max-width: 310px;
					}
					.pg-inicial .contato .paragrafo2 p {
						font-size: 18px;
						max-width: 310px;
						display: block;
						margin: 0 auto;
						font-weight: 400;
					}
				.pg-inicial .contato .formulario{
					padding: 0 40px;
				}
					.pg-inicial .contato .formulario p {
						margin: 15px auto 10px;
						max-width: 500px;
					}
					.pg-inicial .contato .formulario .area-input{
						width: 100%;
						margin-bottom: 10px;
					}
						.pg-inicial .contato .formulario label {
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 600;
							margin-bottom: 1px;
							color: black;
						}
						.pg-inicial .contato .formulario .area-input input {
							background-color: rgba(250,250,250, 0.6);
							border: 1px solid black;
							width: 100%;
							max-width: 500px;
							min-height: 40px;
							margin-bottom: 10px;
							display: block;
							padding-left: 10px;
						}
						.pg-inicial .contato .formulario textarea {
							background-color: rgba(250,250,250, 0.6);
							border: 1px solid black;
							width: 100%;
							max-width: 500px;
							display: block;
							margin-bottom: 5px;
							padding-left: 10px;
						}
						.pg-inicial .contato .formulario .botao{
							background-color: #567146;
							border: 1px solid white;
							width: 100%;
							color: white;
							min-height: 50px;
							max-width: 500px;
							display: block;
							font-family:"Open Sans", "Fontawesome";
						}
						.pg-inicial .contato .formulario .botao i {
							display: inline-block;
						}

	/* PG BLOG */
		.pg-blog .blog{
			margin: 5px 0;
		}
			.pg-blog .blog .img-fundo{
				background-size: cover!important;
				padding: 45px 40px;
			}
				.pg-blog .blog .img-fundo .posts{}
					.pg-blog .blog .img-fundo .posts .titulo{
						margin-bottom: 50px;
					}
					.pg-blog .blog .img-fundo .posts i {
						color: #2f6439;
					}

		.pg-blog .panel-group{
			margin: 70px auto;
			max-width: 230px;
		}
			.pg-blog .panel-group .panel {
			    background-color: transparent;
			    color: white;
			}

				.pg-blog .panel-group .panel .panel-heading {
				    display: block;
				    padding: 0;
				    text-align: center;
				    background-color: #407145;
				    border-radius: 5px;
				}

					.pg-blog .panel-group .panel .panel-heading .panel-title {
					    display: block;
					}
						.pg-blog .panel-group .panel .panel-heading .panel-title .botao {
							height: 37px;
							max-width: none;
							margin-top: 0;
							border: none;
							border-radius: 4px;
						}

							.pg-blog .panel-group .panel .panel-heading .panel-title .botao i {
								color: white;
							}
								.pg-blog .panel-group .panel .panel-heading .panel-title .botao:hover i {
									color: #2f6439;;
								}

				.pg-blog .panel-group .panel-body {
				    padding: 15px 0;
				}

					.pg-blog .panel-group .panel-body ul {
					    width: 100%;
					    margin: 0;
					    padding: 0;

					    list-style: none;
					}

						.pg-blog .panel-group .panel-body ul li {
						    line-height: 35px;

						    height: 35px;
						    margin: 5px 0;
						}

							.pg-blog .panel-group .panel-body ul li a {
							    display: block;
							    margin-left: 15px;
							    text-decoration: none;
							    color: #407145;
							    font-weight: 400;
							}

								.pg-blog .panel-group .panel-body ul li a:hover {
								    font-weight: 600;
								}

				.pg-blog .blog .sub-texto{
					text-align: -webkit-right;
					text-align: -moz-right;
					text-align: -ms-right;
					text-align: -o-right;
				}
					.pg-blog .blog .sub-texto p {
						font-weight: 600;
						font-size: 15px;
					}

				.pg-blog .blog-grid {
				    position: relative;

				    display: -webkit-flex;
				    display:    -moz-flex;
				    display:     -ms-flex;
				    display:         flex;

				    margin: 0;
				    padding: 0;

				    text-align: center;

				    -webkit-flex-flow: row wrap;
				       -moz-flex-flow: row wrap;
				        -ms-flex-flow: row wrap;
				            flex-flow: row wrap;
				    -webkit-justify-content: flex-end;
				       -moz-justify-content: flex-end;
				        -ms-justify-content: flex-end;
				    -webkit-justify-content: flex-end;
				}
					.pg-blog .blog-grid > li {
					    position: relative;

					    display: inline-block;
					    padding: 5px 3% 5px 3%;
					    text-align: center;
					    vertical-align: top;
					    margin: 0 auto;
					    /*display: block;*/
					}

						.pg-blog .blog .blog-grid > li a {
						    text-decoration: none;
						}

							.pg-blog .blog .imagem {
							    display: block;
							    position: relative;

							    width: 310px;
							    height: 255px;
							    margin: 0 auto;

							    background-repeat: no-repeat!important;
							    background-position: center!important;
							    background-size: cover!important;
							}

							.pg-blog .blog .data {
							    display: block;
							    position: absolute;
							    top: 0;
							    left: 0;
							    width: 45%;
							    height: 100%;
							    background-color: rgba(0,0,0,0.7);
							    padding: 20% 0 0;
							}
								.pg-blog .blog .data .data-texto{
									position: absolute;
									top: 50%;
									left: 50%;
									-webkit-transform: translate(-50%, -50%);
									        transform: translate(-50%, -50%);
								}
									.pg-blog .blog .data .data-texto span{
										display: block;
										line-height: 105%;

									}
									.pg-blog .blog .data .data-texto .dia,
									.pg-blog .blog .data .data-texto .ano{
										font-size: 28px;
										color: white;
										font-weight: 600;
									}
									.pg-blog .blog .data .data-texto .mes{
										font-size: 18px;
										color: #79c748;
										font-weight: 600;
										text-transform: uppercase;
									}
									.pg-blog .blog .data .data-texto i{
										font-size: 40px;
										color: #2f6439;
										margin-top: 10px;
									}

							.pg-blog .blog .descricao {
							    font-size: 14px;

							    width: 310px;
							    height: auto;
							    margin: 0 auto 40px;

							    color: #093a4d;
							    text-align: left;
							}

								.pg-blog .blog .descricao h2 {
									font-size: 17px;
									font-weight: 400;
									color: #2f6439;
									margin-top: 5px;
								    min-height: 54px;
								}
								.pg-blog .blog .descricao .botao {
									max-width: 134px;
									color: #2f6439;
									font-weight: 600;
									position: relative;
									border: none;
									font-size: 16px;
									margin: 0 auto;
								}
								.pg-blog .blog .descricao .botao p {
									margin: 0;
								    transform: translateY(-20%);
								}

	/* PG SINGLE */
		.pg-postagem .blog{
			margin: 5px 0;
		}
			.pg-postagem .blog .img-fundo{
				background-size: cover!important;
				padding: 45px 20px;
			}
				.pg-postagem .blog .img-fundo .posts{}
					.pg-postagem .blog .img-fundo .posts .titulo{
						margin-bottom: 50px;
					}
					.pg-postagem .blog .img-fundo .posts i {
						color: #2f6439;
					}

		.pg-postagem .panel-group{
			margin: 40px auto;
			max-width: 210px;
		}
			.pg-postagem .panel-group .panel {
			    background-color: transparent;
			    color: white;
			}

				.pg-postagem .panel-group .panel .panel-heading {
				    display: block;
				    padding: 0;
				    text-align: center;
				    background-color: #407145;
				    border-radius: 5px;
				}

					.pg-postagem .panel-group .panel .panel-heading .panel-title {
					    display: block;
					}
						.pg-postagem .panel-group .panel .panel-heading .panel-title .botao {
							height: 37px;
							max-width: none;
							margin-top: 0;
							border: none;
							border-radius: 4px;
						}

							.pg-postagem .panel-group .panel .panel-heading .panel-title .botao i {
								color: white;
							}
								.pg-postagem .panel-group .panel .panel-heading .panel-title .botao:hover i {
									color: #2f6439;;
								}

				.pg-postagem .panel-group .panel-body {
				    padding: 15px 0;
				}

					.pg-postagem .panel-group .panel-body ul {
					    width: 100%;
					    margin: 0;
					    padding: 0;

					    list-style: none;
					}

						.pg-postagem .panel-group .panel-body ul li {
						    line-height: 35px;

						    height: 35px;
						    margin: 5px 0;
						}

							.pg-postagem .panel-group .panel-body ul li a {
							    display: block;
							    margin-left: 15px;
							    text-decoration: none;
							    color: #407145;
							    font-weight: 400;
							}
								.pg-postagem .panel-group .panel-body ul li a:hover {
								    font-weight: 600;
								}
			.pg-postagem .post{
				padding: 10px 0 10px 10px;
			}
				.pg-postagem .post .imagem{
					/*width: 95%;*/
					height: 500px;
					background-size: cover!important;
					position: relative;
				}

					.pg-postagem .blog .data {
					    display: block;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    width: 150px;
					    height: 180px;
					    background-color: rgba(0,0,0,0.7);
					    padding: 20% 0 0;
					}
						.pg-postagem .blog .data .data-texto{
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							        transform: translate(-50%, -50%);
					        text-align: center;
						}
							.pg-postagem .blog .data .data-texto span{
								display: block;
								line-height: 105%;

							}
							.pg-postagem .blog .data .data-texto .dia,
							.pg-postagem .blog .data .data-texto .ano{
								font-size: 28px;
								color: white;
								font-weight: 600;
							}
							.pg-postagem .blog .data .data-texto .mes{
								font-size: 18px;
								color: #79c748;
								font-weight: 600;
								text-transform: uppercase;
							}
							.pg-postagem .blog .data .data-texto i{
								font-size: 40px;
								color: #2f6439;
								margin-top: 10px;
							}
				.pg-postagem .blog .conteudo{
					/*width: 95%;*/
					margin-top: 2px;
					padding: 25px;
					background-color: white;
				}
					.pg-postagem .blog .conteudo .titulo-post{
						font-size: 20px;
						margin-bottom: 20px;
						font-weight: 700;
						text-transform: uppercase;
						color: #2f6439;
					}
						.pg-postagem .blog .conteudo p {
							margin-bottom: 20px;
							font-weight: 400;
							color: #2f6439;
							text-align: justify;
						}
				.pg-postagem .blog .comentario{
					/*width: 95%;*/
					margin-top: 10px;
					padding: 15px;
					background-color: white;
				}

				.pg-postagem .blog .prev-post {
					padding: 30px 0;
					text-align: center;
				}
					.pg-postagem .blog .prev-post span {
						margin: 0 auto;
						font-weight: 600;
						padding: 0 10px;
					}
						.pg-postagem .blog .prev-post span a {
							color: #2f6439;
						}
						.pg-postagem .blog .prev-post span i {
							font-size: 28px;
						}

	/* PG BIOGRAFIA */
		.pg-biografia{}
		.etapa.impar.text-left{
		    margin-top: -200px;
		}
			.pg-biografia .topo-biografia{
				position: relative;
				min-height: 680px;
				background: url(../img/biografia.png) no-repeat;
				z-index: -1;
				background-size: cover;
				background-position: 0 20%;
				margin-bottom: 60px;
			}
				.pg-biografia .topo-biografia .resumo-topo{
					min-height: 105px;
					background-color: rgba(0,0,0,0.7);
					padding: 20px 0 20px 40px;
					position: absolute;
					bottom: 130px;
					right:0;
					max-width: 90%;
				}
					.pg-biografia .topo-biografia .resumo-topo p {
						color: white;
						max-width: 90%;
						line-height: 200%;
					}

			.pg-biografia .resumo{
				padding: 0 5px 60px 5px;
			}
				.pg-biografia .resumo p {
					line-height: 200%;
					font-weight: 400;
					padding: 0 10px;
				}
					.pg-biografia .resumo p b {
						color: #527829;
						font-weight: 700;
					}

			.pg-biografia .biografia{}
				.pg-biografia .biografia .fundo{
					background: url(../img/fundo-internas.png);
					/*border: 6px solid #999999;*/
					background-size: cover;
					padding: 30px 30px;
					position: relative;
					overflow-y: hidden;
				}
					.pg-biografia .biografia .fundo .linha{
						content: "";
					    height: 100%;
					    position: absolute;
					    top: 55px;
					    left: 49.7%;
					    z-index: 2;
					    border: 2px solid rgba(250,250,250,0.4);
					}
					/*.pg-biografia .biografia .fundo:after{
					    content: "";
					    height: 100%;
					    position: absolute;
					    top: 0;
					    left: 49.7%;
					    z-index: 2;
					    border: 2px solid rgba(250,250,250,0.4);
					    padding: 71% 0;
    					margin: 50px 0;
					}	*/
					.pg-biografia .biografia .fundo .linha-do-tempo{}
						.pg-biografia .biografia .fundo .linha-do-tempo .inicio{
							position: relative;
						}
							.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-ano{
								position: absolute;
								top: 20px;
								left: 46%;
								line-height: 190%;
								font-weight: 400;
							}
								.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano{
									color: white;
									border-radius: 100%;
									background-color: #527829;
									width: 70px;
									height: 70px;
									display: block;
									margin: 0 auto;
									position: relative;
									border: 10px solid rgba(250,250,250,0.9);
									z-index: 3;
								}
									.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano p {
										font-weight: 700;
										font-size: 20px;
										position: absolute;
										top: 50%;
										left: 50%;
										-webkit-transform: translate(-50%, -50%);
										        transform: translate(-50%, -50%);
									}
							.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-descricao{
								display: block;
							    margin: 30px 0 0 60%;
								max-width: 500px;
								line-height: 190%;
								font-weight: 400;
							}
								.pg-biografia .biografia .fundo .linha-do-tempo .inicio .titulo-etapa, .pg-biografia .biografia .fundo .linha-do-tempo .etapa .titulo-etapa{
									font-weight: 700;
									font-size: 20px;
								}
								.pg-biografia .biografia .fundo .linha-do-tempo .inicio .texto, .pg-biografia .biografia .fundo .linha-do-tempo .etapa .texto{
									font-size: 13px;
									line-height: 19px;
								}
						.pg-biografia .biografia .fundo .linha-do-tempo .etapa{
							position: relative;
						}
							.pg-biografia .biografia .fundo .linha-do-tempo .par .etapa-ano{
								position: absolute;
								top: 40px;
								left: 49.2%;
								line-height: 190%;
								font-weight: 400;
								padding: 40px 0;
								width: 80px;
								margin-left: -105px;
							}
							.pg-biografia .biografia .fundo .linha-do-tempo .impar .etapa-ano{
								position: absolute;
								top: 78px;
								left: 49%;
								line-height: 190%;
								font-weight: 400;
								padding: 40px 0;
								width: 80px;
							}
								.pg-biografia .biografia .fundo .linha-do-tempo .etapa .ano{
									border-radius: 100%;
									background-color: #527829;
									width: 15px;
									height: 15px;
									display: inline-block;
									/*margin: 130px auto;		*/
									border: 2px solid rgba(250,250,250,0.7);
									margin-right: 10px;
									position: relative;
									z-index: 3;
								}
									.pg-biografia .biografia .fundo .linha-do-tempo .par .ano:after{
										content:"";
										display: inline-block;
										border:2px solid rgba(250,250,250,0.4);
										padding: 0 20px;
										position: absolute;
									    top: 3px;
									    right: -46px;
									}
								.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano{
									margin-right: 0!important;
									margin-left: 51px;
									z-index: 3;
								}
									.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano:after{
										content:"";
										display: inline-block;
										border:2px solid rgba(250,250,250,0.4);
										padding: 0 20px;
										position: absolute;
									    top: 3px;
									    right: 13px;
									}
								.pg-biografia .biografia .fundo .linha-do-tempo .etapa p {
									font-weight: 700;
									font-size: 22px;
									color: white;
									display: inline-block;
								}
									.pg-biografia .biografia .fundo .linha-do-tempo .etapa .etapa-ano p {
										font-weight: 700;
										font-size: 22px;
										position: absolute;
										color: white;
										display: inline-block;
									}

										.pg-biografia .biografia .fundo .linha-do-tempo .etapa.par .etapa-ano p {
											right: -90px;
											top: 35px;
										}

										.pg-biografia .biografia .fundo .linha-do-tempo .etapa.impar .etapa-ano p {
											right: 80px;
											top: 35px;
										}

							.pg-biografia .biografia .fundo .linha-do-tempo .par .etapa-descricao {
								display: block;
							    margin: 0 58% 0 0 ;
								max-width: 500px;
								line-height: 150%;
								font-weight: 400;
							}
							.pg-biografia .biografia .fundo .linha-do-tempo .impar .etapa-descricao {
								display: block;
							    margin:0 0 0 59%;
								max-width: 500px;
								line-height: 150%;
								font-weight: 400;
							}
								.pg-biografia .biografia .fundo .linha-do-tempo .etapa img {
									border: 4px solid rgba(250,250,250,0.7);
									border-radius: 3px;
									margin-bottom: 20px;
									display: inline-block;
									width: 100%;
									max-width: 300px;
								}
								.pg-biografia .biografia .fundo .linha-do-tempo .etapa .titulo-etapa{
									font-weight: 700;
									font-size: 20px;
								}
								.pg-biografia .biografia .fundo .linha-do-tempo .etapa .texto{
									font-size: 15px;
								}

	/* PG ÁLBUM	*/
		.pg-album .conteudo{
			background: url(../img/fundo-internas.png);
			/*min-height: 680px;*/
			padding: 15px 50px;
			margin: 3px 0;
		}
			.pg-album .conteudo .titulo{
				margin: 45px 0;
			}
			.pg-album .conteudo .subtitulo{
				font-size: 15px;
				font-weight: 600;
			    max-width: 950px;
    			margin: 0 auto;
			}
				.pg-album .conteudo .coluna{
					padding: 15px;
				}
					.pg-album .conteudo .coluna .foto{
						width: 440px;
						height: 332px;
						border: 2px solid white;
						background-size: cover!important;
						margin: 0 auto;
					}
						.pg-album .conteudo .coluna .foto .lente{
							background-color: rgba(0,0,0,0.5);
							width: 100%;
							height:100%;
							display:none;
						}
							.pg-album .conteudo .coluna .foto .lente .botao{
								font-weight: 400;
								position:absolute;
								padding: 0 40px;
								max-width: none;
								top:44%;
								left:50%;
								-webkit-transform: translate(-50%, -50%);
								        transform: translate(-50%, -50%);
							}
						.pg-album .conteudo .coluna .data{
							font-weight: 700;
							color: #527829;
							font-size: 18px;
							max-width: 440px;
							margin: 0 auto;
						}
						.pg-album .conteudo .coluna .resumo{
							font-weight: 600;
							max-width: 440px;
							margin: 0 auto;
							font-size: 15px;
							color: black;
						}

	/* PG FOTOS */
		.pg-fotos .conteudo2{
			background: url(../img/fundo-internas.png);
			/*min-height: 680px;*/
			padding: 15px 50px;
			margin: 3px 0;
		}
			.pg-fotos .conteudo2 .titulo{
				font-size: 24px;
				margin: 35px 0 20px 0;
			}
			.pg-fotos .conteudo2 .data{
				font-weight: 700;
				color: #527829;
				font-size: 18px;
				padding: 5px 20px 15px 0;
			}
				.pg-fotos .conteudo2 .data p {
					font-weight: 600;
					font-size: 14px;
					color: black;
				}
				.pg-fotos .conteudo2 .fotos{}
					.pg-fotos .conteudo2 .fotos .coluna{
						margin-bottom: 8px;
					}
						.pg-fotos .conteudo2 .fotos .coluna .foto{
							width: 100%;
							height: 195px;
							border: 2px solid white;
							background-size: cover!important;
							display: inline-block;
						}
							.pg-fotos .conteudo2 .fotos .coluna .foto .lente{
								background-color: rgba(0,0,0,0.5);
								width: 100%;
								height:100%;
								position: relative;
								display:none;
							}
								.pg-fotos .conteudo2 .fotos .coluna .foto .lente i{
									color: white;
									font-size: 30px;
									position: absolute;
									top:50%;
									left:50%;
									-webkit-transform: translate(-50%, -50%);
									        transform: translate(-50%, -50%);
								}
				.pg-fotos .conteudo2 .botao{
					border: 2px solid black;
					color: black;
					margin: 40px auto;
				}
					.pg-fotos .conteudo2 .botao i {
						margin-left: 0;
						margin-right: 10px;
					}

	/* PG VIDEOS */
		.pg-videos .conteudo{
			background: url(../img/fundo-internas.png);
			/*min-height: 680px;*/
			padding: 15px 50px;
			margin: 3px 0;
		}
			.pg-videos .conteudo .titulo{
				font-size: 24px;
				margin: 35px 0 20px 0;
				color: #3e4345;
			}
			.pg-videos .conteudo .subtitulo {
				font-weight: 600;
				font-size: 14px;
				color: black;
				padding: 5px 0 15px 0;
			}
				.pg-videos .conteudo .coluna{
					padding: 15px 0;
				}
					.pg-videos .conteudo  .coluna .foto{
						width: 440px;
						height: 332px;
						border: 2px solid white;
						background-size: cover!important;
						margin: 0 auto;
					}
					.pg-videos .conteudo  .coluna .resumo{
						font-weight: 600;
						max-width: 440px;
						margin: 0 auto;
						font-size: 15px;
						color: #527829;
					}
				.pg-videos .conteudo .canal{
					margin: 80px 0 0 5%;
				}
					.pg-videos .conteudo .canal img {
						display: inline-block;
						border: 2px solid white;
					}
					.pg-videos .conteudo .canal .link{
						font-size: 24px;
						font-weight: 600;
						display: inline-block;
						margin-left: 10px;
					}
						.pg-videos .conteudo .canal .link p {
							font-size: 14px;
							font-weight: 600;
							color: white;
						}
							.pg-videos .conteudo .canal .link p a {
								color: red;
								font-weight: 600;
							}
					.pg-videos .conteudo .carrossel{
						position: relative;
					}
					.pg-videos .conteudo #carrossel-youtube{
							margin: 30px 0;
							position: relative;
							/*width: 100%;
							height: 300px;*/
					}
						.pg-videos .conteudo #carrossel-youtube .item{
							padding: 0 15px;
							position: relative;
							height: 130px;
						}
							.pg-videos .conteudo #carrossel-youtube .item img{
							    width: 223px;
    							height: 130px;
    							border: 1px solid #7A7A7A;
    							position: absolute;
    							left: 50%;
								-webkit-transform: translateX(-50%);
								        transform: translateX(-50%);
							}
							.pg-videos .conteudo #carrossel-youtube .item i {
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%, -50%);
								        transform: translate(-50%, -50%);
						        font-size: 30px;
						        color: rgba(250,250,250, 0.6);
							}
					.pg-videos .conteudo .botoes{}
						.pg-videos .conteudo .botoes .navegacaoT,
						.pg-videos .conteudo .botoes .navegacaoF{
							font-size: 35px;
							font-weight: 700;

							position: absolute;
							z-index: 10031;
							top: 50%;

							transform: translateY(-50%);

							/*color: rgba(255,255,255,.6);*/
							color: black;
							border: none;
							outline: 0;
							background: rgba(250,250,250,0.8);
							line-height: 150%;
							width: 50px;

						}
							.pg-videos .conteudo .botoes .navegacaoT:hover,
							.pg-videos .conteudo .botoes .navegacaoF:hover,{
								color: #fff;
							}

						.pg-videos .conteudo .botoes .navegacaoT{
							left: -15px;
						}

						.pg-videos .conteudo .botoes .navegacaoF{
							right: -15px;
						}

	/* PG PARLAMENTO DIGITAL */
		.pg-parlamento .conteudo{
			background: url(../img/fundo-internas.png);
			padding: 15px 20px 40px 20px;
			margin: 3px 0;
		}
			.pg-parlamento .conteudo .titulo{
				font-size: 24px;
				margin: 35px 0 30px 0;
				padding-left: 5%;
				color: #3e4345;
			}
				/*.pg-parlamento .conteudo .titulo img {
					width: 62px;
					height: 62px;
					margin-left: 10px;
				}	*/
				.pg-parlamento .conteudo .titulo i {
					color: #33753F;
				}
			.pg-parlamento .conteudo .subtitulo {
				font-weight: 600;
				font-size: 16px;
				color: #2f2946;
				padding: 5px 20px 15px 5%;
			}
			.pg-parlamento .conteudo .projs{
				padding: 15px 0;
				position: relative;
				margin-top: 40px;
			}
			.pg-parlamento .conteudo .projs:before{
				content:"";
				border-top: 1px solid white;
				padding: 1px 0;
				width: 80%;
				position: absolute;
				top:0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				        transform: translateX(-50%);
			}
				.pg-parlamento .conteudo .row .pesquisa{
					padding: 10px;
					min-height: 300px;
				}
					.pg-parlamento .conteudo .row .pesquisa img {
						max-width: 100px;
						margin: 0 auto 20px auto;
						display: block;
					}
					.pg-parlamento .conteudo .row .pesquisa .shortcode{}
				.pg-parlamento .conteudo .row .fundo{
				}
				.pg-parlamento .conteudo .row .fundo .lente{
					background-size: cover!important;
					background-position: 0 30%!important;
					width: 100%;
					height: 100%;
					padding: 60px 24px;
					filter: blur(1px);
					-webkit-filter: blur(1px);
					position: absolute;
					opacity: 0.75;
				}
				.pg-parlamento .conteudo .row .fundo .conteudo3{
					left: 0;
					right: 0;
					z-index: 9999;
					padding: 30px 10px 75px 20px;
					background: rgba(250,250,250,0.6);
					height: 100%;
					position: static;
				}

					.pg-parlamento .conteudo .row .fundo .resumo{
						line-height: 200%;
						padding: 0 20px;
					}
						.pg-parlamento .conteudo .row .fundo .resumo .titulo-enquete{
							font-size: 20px;
							font-weight: 700;
							-webkit-filter: contrast(4);
  									filter: contrast(4);
						}
						.pg-parlamento .conteudo .row .fundo .resumo p {
							color: white;
							font-weight: 400;
							font-size: 15px;
							margin-bottom: 20px;
						}
					.pg-parlamento .conteudo .row .fundo .foto{
						padding: 0 20px;
					}
					.pg-parlamento .conteudo .row .fundo .foto img {
						margin: 0 auto;
						border: 1px solid white;
					}

	/* PG PROJETOS */
		.pg-projetos .conteudo{
			background: url(../img/fundo-internas.png);
			padding: 15px 20px 40px 20px;
			margin: 3px 0;
		}
			.pg-projetos .conteudo .titulo{
				font-size: 24px;
				margin: 35px 3% 50px 3%;
				color: #3e4345;
			}
			.pg-projetos .conteudo .subtitulo {
				font-weight: 600;
				font-size: 16px;
				color: black;
				padding: 5px 0 50px 0!important;
				margin: 0 3%;
			}
			.pg-projetos .conteudo .row{
				padding: 40px 4px;
				width: 95%;
				margin: 0 auto;
				position: relative;
			}
				.pg-projetos .conteudo .row:after{
					content:"";
					border-bottom: 1px solid white;
					padding: 15px 35%;
					margin: 0 auto;
				}
				.pg-projetos .conteudo .final:after{
					border-bottom: none!important;
				}
				.pg-projetos .conteudo .row .data{
					font-size: 18px;
					font-weight: 700;
					color: #527829;
					margin-bottom: 5px;
				}
				.pg-projetos .conteudo .row .texto{
					font-weight: 400;
					font-size: 16px;
				}
				.pg-projetos .conteudo .row .col-md-3{
					padding-top: 20px;
				}
					.pg-projetos .conteudo .row .col-md-3 a {
						padding: 10px 35px;
						background-color: #d5d8d9;
						border-radius: 6px;
						border: 2px solid #527829;
						color: #527829;
						font-weight: 600;
						font-size: 16px;
					}
						.pg-projetos .conteudo .row .col-md-3 a:hover {
							border: none;
							background-color: white;
						}

	/* PG CONTATO */
		.pg-contato{

		}
			.pg-contato .fale-conosco{
				background: url(../img/video-fundo.png) no-repeat;
				background-size: cover;
				padding: 15px 40px 40px 40px;
				margin: 3px 0;
			}
				.pg-contato .fale-conosco .titulo{
					color: white;
					margin: 20px 0 30px 0;
					font-size: 24px;
				}
				.pg-contato .fale-conosco .subtitulo{
					color: white;
					margin: 20px 0 40px 0;
				}
				.pg-contato .fale-conosco .row{
					margin: 20px 0;
				}
					.pg-contato .fale-conosco .row .info{
						padding: 30px 5px 70px 5px;
					}
						.pg-contato .fale-conosco .row .info .paragrafo2{}
							.pg-contato .fale-conosco .row .info .paragrafo2 a {
								display: block;
								max-width: 100px;
								margin: 40px auto;
							}
							.pg-contato .fale-conosco .row .info .paragrafo2 span {
								display: block;
								max-width: 300px;
								margin: 0 auto;
								font-size: 20px;
								color: white;
								line-height: 200%;
							}
							.pg-contato .fale-conosco .row .info .paragrafo2 p {
								display: block;
								max-width: 300px;
								margin: 0 auto;
								color: white;
								line-height: 200%;
							}
					.pg-contato .contato .formulario{
						padding: 0 40px;
					}
						.pg-contato .contato .formulario .area-input{
							width: 100%;
							margin-bottom: 10px;
						}
							.pg-contato .contato .formulario label {
								text-transform: uppercase;
								font-size: 12px;
								font-weight: 600;
								margin-bottom: 1px;
								color: white;
							}
							.pg-contato .contato .formulario .area-input input {
								background-color: rgba(250,250,250, 0.6);
								border: 1px solid black;
								width: 100%;
								max-width: 500px;
								min-height: 40px;
								margin-bottom: 10px;
								display: block;
								padding-left: 10px;
							}
							.pg-contato .contato .formulario textarea {
								background-color: rgba(250,250,250, 0.6);
								border: 1px solid black;
								width: 100%;
								max-width: 500px;
								display: block;
								margin-bottom: 5px;
								padding-left: 10px;
							}
							.pg-contato .contato .formulario .botao{
								background-color: #567146;
								border: 1px solid white;
								width: 100%;
								color: white;
								min-height: 50px;
								max-width: 500px;
								display: block;
								font-family:"Open Sans", "Fontawesome";
							}
							.pg-contato .contato .formulario .botao i {
								display: inline-block;
							}

	/*PG 404*/
		.pg-404{
			padding: 50px 0;
			text-align: center;
		}
		.pg-404 .titulo{
			font-size: 60px!important;
			color: #D1D1D1;
			display: block;
			margin: 0 auto;
		}
		.pg-404 .texto{
			font-size: 30px!important;
			display: block;
			margin: 0 auto;
		}
			.pg-404 .texto a {
				text-decoration: none;
				color: #538339;
				font-weight: 600;
			}

	/* EXTRAS */
		.correcao-x{
			padding: 0 20px;
		}
		.correcao-y{
			padding: 20px 0;
		}
		.correcao-xy{
			padding: 20px;
		}

	/* BOTÕES */
		.botao{
			display: block;
			border: 2px solid white;
			border-radius: 5px;
			color: white;
			padding: 0 20px;
			max-width: 180px;
			text-align: center;
		    margin-top: 10px;
		    transition: background-color 1s;
		}
		.botao:hover{
			background-color: white!important;
			color: #567146!important;
			text-decoration: none!important;
			border-color: white!important;
		}

			.botao p {
				display: inline-block;
				line-height: 80%;
			}
			.botao i {
				margin-left: 10px;
				display: inline-block;
			    vertical-align: sub;
			    font-size: 32px;
			}

	/* @MEDIA */
		@media (min-width: 1540px) {
			.area-topo .carrossel #carrossel-inicial .item .texto-carrossel{
				right: 350px;
			}
		}

		@media (min-width: 1325px) {

		}

		@media (min-width: 1200px) {

			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-ano{
				left: 43.5%;
			}
				.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano{
					width: 100px;
					height: 100px;
				    border: 5px solid rgba(250,250,250,0.9);
				}
			.pg-blog .blog .sub-texto p {
				max-width: 85%;
			}

			.pg-inicial .perfil .fantasma{
				width: 24%;
			}
			.conteudo{
				padding: 15px 10px!important;
			}
				.conteudo .row .coluna{
					margin-bottom: 35px!important;
				}
					.conteudo .row .coluna .foto{
						width: 400px!important;
						height: 300px!important;
						border: 2px solid white!important;
						background-size: cover!important;
						margin: 0 auto!important;
						display: block;
					}
					.conteudo .subtitulo{
						padding-left: 4%!important;
					}
						.conteudo .row .coluna .data{
							max-width: 400px!important;
						}
						.conteudo .row .coluna .resumo{
							max-width: 400px!important;
						}
						.conteudo .row .coluna .foto .lente .botao{
							padding: 0 25px!important;
						}


			.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano:after {
				right: 13px!important;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-ano{
				position: relative;
				top: inherit;
				left: inherit;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-descricao {
				margin-top: 0!important;
			}
			.pg-blog .blog-grid > li {
				 padding: 5px 1% 5px 1%!important;
			}
			.pg-blog .blog .img-fundo{
				padding: 30px 20px!important;
			}
			.carrossel #carrossel-inicial .item .texto-carrossel{
				max-width: 300px!important;
				bottom: 10px!important;
				right: 50px!important;
				padding: 0 15px;
			}


		}
		@media (max-width: 1199px) {
			.topo .navbar .navbar-header .faixa{
			    height: 100px!important;
			}
			.carrossel #carrossel-inicial .item.video{
				position: relative;
				overflow:hidden;
			}
			.carrossel #carrossel-inicial .item.video .areaVideoDestaque{
				margin-top: 10%;
			}
		}
		@media (min-width: 993px) {

			.pg-parlamento .area-parlamento{
				padding-right: 50px;
			}
		}
		@media (max-width: 992px) {
			.pg-biografia .biografia .fundo .linha-do-tempo .par .ano:after {
				padding: 0 7px!important;
				right: -18px!important;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano{
				margin-left: 22px;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano:after {
				padding: 0 7px!important;
				/*right: -18px!important;*/
			}
			.pg-inicial .perfil .resumo p{
				margin: 45px 5px 10px 20px;
			}
			.pg-inicial .perfil .foto{
				left: 36%;
			}
			.pg-inicial .perfil .link{
				width: 80px;
				margin: 15px auto;
				display: block;
			}
			.pg-embreve .contato .formulario{
				margin-top: 30px;
			}

			.topo-internas{
				min-height: 340px;
				background: url(../img/topo-interna2.jpg) no-repeat;
				background-position: 70% 30%;
			}
					.topo-internas .lente p {
						bottom: 30px;
						left: 10%;
						font-size: 16px;
						margin-right: 10px;
					}
					.topo-internas .lente b {
						font-weight: 600;
					}
			.pg-biografia .biografia .fundo .linha-do-tempo .par .etapa-ano {
			    left: 53.2%;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .impar .etapa-ano{
				left: 49%;
			}

			.pg-blog .blog .img-fundo{
				padding: 30px 10px!important;
			}
				.img-fundo .posts .titulo{
					margin-bottom: 0!important;
				}
					.pg-postagem .post {
						padding: 10px 0!important;
					}
			.panel-group {
			    margin-bottom: 40px!important;
			}
		}

		@media (max-width: 991px) {
			.carrossel #carrossel-inicial .item.video{
				position: relative;
			}
			.carrossel #carrossel-inicial .item.video .areaVideoDestaque{
				margin-top: 16%;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano{
				left: -10px;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .etapa.par .etapa-ano p {
				right: -65px;
				top: 35px;
			}
		}

		@media (max-width: 810px) {

				.carrossel #carrossel-inicial .item .texto-carrossel span{
					font-size: 15px!important;
				}
				.carrossel #carrossel-inicial .item .texto-carrossel span b {
					font-size: 18px!important;
				}
		}

		@media (max-width: 768px) {
			.topo{
				top: 24px;
			}
			.carrossel #carrossel-inicial .item .texto-carrossel{
				text-align: center;
			}
			.botao{
				margin:0 auto;
			}
			.topo .navbar .navbar-header{
				background-color:transparent!important;
			}
			.etapa.impar.text-left{
				margin-top:0;
			}

		}
		@media (max-width: 767px) {

			.topo .navbar .navbar-header .faixa{
			    display: none;
			}
		}

		@media (max-width: 767px) {
			.navbar-toggle {
				top: 35px;
				z-index: 9;
			}
				.navbar-toggle .icon-bar {
					background-color: #566e41;
					width: 43px;
				    height: 6px;
				    margin: 10px 0;
				    border-radius: 2px;
				}
			.topo .navbar .menu{
				padding-left: 0!important;
				max-width: 184px;
				min-height: 0!important;
				padding: 0!important;
				left: 50px ;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				float: right;
			    margin-right: -55px;
				margin-top: 163px!important;
				background-color: rgba(250, 250, 250, 0.89)!important;
			    border-radius: 6px;
			}
			.logo img {
				margin: 10px 0 0 20px;
			}
			.area-topo .carrossel #carrossel-inicial .item .texto-carrossel {
				bottom: 10px;
				right: 10px;
			}
				.area-topo .carrossel #carrossel-inicial .item .texto-carrossel span {
					font-size: 16px;
					text-shadow: 4px 2px 6px #333;
				}
				.area-topo .carrossel #carrossel-inicial .item .texto-carrossel .botao {
					margin: 10px auto;
				}
		}

		@media (max-width: 750px) {
			.pg-embreve .copyright .sociais{
				margin-top: 20px;
			}
			.pg-embreve .topo{
				background-position: 55% 40%;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .etapa-descricao {
				margin: 100px 0 0 60%!important;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .par .etapa-ano{
				left:54.2%!important;
			}
		}

		@media (max-width: 600px) {
			.carrossel #carrossel-inicial .item.video{
				position: relative;
			}
			.carrossel #carrossel-inicial .item.video .areaVideoDestaque{
				margin-top: 20%;
			}

			.pg-inicial .perfil .foto{
				left: 30%;
			}
			.pg-embreve .topo .sociais i {
				display: inline-block;
				margin: 140px 5px;
			}

			.pg-embreve .topo .logo p {
				font-size: 20px;
			}
			.pg-embreve .topo .logo img {
				width: 50px;
				height: 50px;
			}

			.pg-biografia .topo-biografia{
				background-position: 40% 20%;
			}

			.pg-postagem .post .imagem{
				background-position: 63% 50%!important;
				height: 400px!important;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .par .etapa-ano{
				left:55.2%!important;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano{
				left: -15px;
			}
			.carrossel #carrossel-inicial .item{
			   height: 487px;
			}

		}

		@media (max-width: 490px) {
			.pg-biografia .biografia .fundo .linha-do-tempo .inicio .ano{
				left: -20px;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .par .ano{
			    margin-right: -13px;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .par .ano:after{
				content: none;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano{
			    margin-left: 0px;
			}
			.pg-biografia .biografia .fundo .linha-do-tempo .impar .ano:after{
				content: none;
			}

			.logo img {
				width: 120px;
			}

			.pg-inicial .perfil .foto{
				left: 25%;
			}
			.conteudo{
				padding: 15px 2px!important;
			}
				.conteudo .row .coluna{
					padding: 0!important;
				}
				.conteudo .row .coluna .foto{
					width: 300px!important;
					height: 200px!important;
					border: 2px solid white!important;
					background-size: cover!important;
					margin: 0 auto!important;
				}
				 .conteudo .subtitulo{
					padding-left: 4%!important;
				}
					.conteudo .row .coluna .data{
						max-width: 290px!important;
					}
					.conteudo .row .coluna .resumo{
						max-width: 290px!important;
					}
						.conteudo .row .coluna .foto .lente .botao{
							font-weight: 300!important;
							padding: 0 10px!important;
							top:34%!important;
						}
			.pg-biografia .biografia .fundo .linha-do-tempo .ano:after {
				content:none;!important:
			}

			.grid figure h2 {
				font-size: 18px!important;
			}

			.grid figure p {
				font-size: 11px!important;
			}

			figure.effect-oscar img {
			    width: 300px;
    			height: 220px;
			}

			.pg-inicial .galeria-carrossel .galeria .img-galeria {
			    width: 280px;
			    height: 180px;
			}
			.carrossel #carrossel-inicial .item.video{
				position: relative;
			}
			.carrossel #carrossel-inicial .item.video .areaVideoDestaque{
				margin-top: 38%;
			}
			.logo h1{
				margin-top: 40px;
			}
			.pg-inicial .ultimas-noticias .titulo{
				text-align: center;
			}
			.pg-inicial .galeria-carrossel .skewoff .titulo{
				text-align: center;
			}
			.pg-inicial .videos .titulo{
				text-align: center;
			}
			.pg-contato .contato .formulario{
			    padding: 0 12px;
			}
			.pg-contato .fale-conosco{
				padding: inherit;
			}
			.pg-contato .fale-conosco .subtitulo{
				padding: 10px;
			}
			.pg-contato .fale-conosco .row .info .paragrafo2 p{
				padding: 10px;
			}
			.pg-contato .fale-conosco .titulo{
				text-align: center;
			}
		}
		@media (max-width: 320px) {
			.carrossel #carrossel-inicial .item.video{
				position: relative;
			}
			.carrossel #carrossel-inicial .item.video .areaVideoDestaque{
				margin-top: 48%;
			}
			.pg-inicial .ultimas-noticias .titulo{
				text-align: center;
			}
		}

		.audioplayer{
			height: 0px;
			display: none;
		}
		.areaPlayPause{

			padding:10px 20px;
		}
		.txtTocar{
			color:#759354;
			margin: 0 20px;
		}
		.tocarIcone{
			color: #759354;
		}
		.tocarIcone {
		    animation-duration: 7s;
		    animation-iteration-count: infinite;
		    animation-name: shake-slow;
		    animation-timing-function: ease-in-out;
		}

		    @keyframes shake-slow {
		  2% {
		    transform: translate(2px, 1px) rotate(-1.5deg); }
		  4% {
		    transform: translate(-2px, 1px) rotate(-0.5deg); }
		  6% {
		    transform: translate(-2px, -3px) rotate(2.5deg); }
		  8% {
		    transform: translate(1px, -2px) rotate(1.5deg); }
		  10% {
		    transform: translate(3px, 0px) rotate(3.5deg); }
		  12% {
		    transform: translate(1px, -2px) rotate(-1.5deg); }
		  14% {
		    transform: translate(-1px, -3px) rotate(3.5deg); }
		  16% {
		    transform: translate(2px, -1px) rotate(-0.5deg); }
		  18% {
		    transform: translate(1px, 3px) rotate(-1.5deg); }
		  20% {
		    transform: translate(-4px, 3px) rotate(-2.5deg); }
		  22% {
		    transform: translate(-4px, -3px) rotate(0.5deg); }
		  24% {
		    transform: translate(2px, 3px) rotate(3.5deg); }
		  26% {
		    transform: translate(-1px, -3px) rotate(-0.5deg); }
		  28% {
		    transform: translate(-2px, 2px) rotate(3.5deg); }
		  30% {
		    transform: translate(2px, 4px) rotate(0.5deg); }
		  32% {
		    transform: translate(3px, -2px) rotate(1.5deg); }
		  34% {
		    transform: translate(-2px, -1px) rotate(3.5deg); }
		  36% {
		    transform: translate(-1px, -2px) rotate(-0.5deg); }
		  38% {
		    transform: translate(2px, 3px) rotate(3.5deg); }
		  40% {
		    transform: translate(-2px, -1px) rotate(1.5deg); }
		  42% {
		    transform: translate(3px, -3px) rotate(-1.5deg); }
		  44% {
		    transform: translate(1px, 2px) rotate(-0.5deg); }
		  46% {
		    transform: translate(3px, -2px) rotate(2.5deg); }
		  48% {
		    transform: translate(1px, -2px) rotate(-0.5deg); }
		  50% {
		    transform: translate(2px, 2px) rotate(2.5deg); }
		  52% {
		    transform: translate(-1px, -2px) rotate(1.5deg); }
		  54% {
		    transform: translate(-1px, -3px) rotate(-1.5deg); }
		  56% {
		    transform: translate(2px, -3px) rotate(-1.5deg); }
		  58% {
		    transform: translate(-2px, 2px) rotate(-0.5deg); }
		  60% {
		    transform: translate(3px, 2px) rotate(-1.5deg); }
		  62% {
		    transform: translate(3px, 1px) rotate(-2.5deg); }
		  64% {
		    transform: translate(-4px, 3px) rotate(3.5deg); }
		  66% {
		    transform: translate(4px, -3px) rotate(-2.5deg); }
		  68% {
		    transform: translate(-2px, -4px) rotate(2.5deg); }
		  70% {
		    transform: translate(-2px, -3px) rotate(-0.5deg); }
		  72% {
		    transform: translate(-3px, 4px) rotate(-0.5deg); }
		  74% {
		    transform: translate(-2px, 3px) rotate(1.5deg); }
		  76% {
		    transform: translate(-1px, 3px) rotate(0.5deg); }
		  78% {
		    transform: translate(2px, -1px) rotate(1.5deg); }
		  80% {
		    transform: translate(-3px, 2px) rotate(1.5deg); }
		  82% {
		    transform: translate(-1px, 3px) rotate(-1.5deg); }
		  84% {
		    transform: translate(3px, -2px) rotate(0.5deg); }
		  86% {
		    transform: translate(0px, 3px) rotate(-2.5deg); }
		  88% {
		    transform: translate(4px, -3px) rotate(0.5deg); }
		  90% {
		    transform: translate(-1px, 3px) rotate(-0.5deg); }
		  92% {
		    transform: translate(2px, 0px) rotate(-2.5deg); }
		  94% {
		    transform: translate(-1px, 4px) rotate(3.5deg); }
		  96% {
		    transform: translate(-2px, -1px) rotate(-0.5deg); }
		  98% {
		    transform: translate(-2px, -1px) rotate(3.5deg); }
		  0%, 100% {
		    transform: translate(0, 0) rotate(0); } }
		.play-pause {
		  /* This must match the background color behind the button */
		  color: #fff;
		  /* This is the color of the button */
		  background-color: #759354;

		  width: 1em; height: 1em;
		  position: relative;
		  cursor: pointer;
		  overflow: hidden;
		  z-index: 9999;
		  display: inline-block;

		  /* Draw the 2 pause bars */
		  background-image: linear-gradient(to right,
		                                    transparent 40%,
		                                    currentColor 40%,
		                                    currentColor 60%,
		                                    transparent 0);
		  text-align: left;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: 100% 100%;

		  /* Hide the central part between the 2 bars */
		  transition: background-size .3s;
		}

		.play-pause.paused {
		  background-size: 0 100%;
		}

		.play-pause::before,
		.play-pause::after {
		  content: "";
		  position: absolute;
		  top: 0;
		  height: 100%;
		  width: 100%;
		  background: currentColor;
		  /* Before and after are skewed at 90deg to be invisible */
		  transform: skew(90deg);
		  transform-origin: top left;

		  /* And transitioned to the right angle to transform the square into a
		     triangle */
		  transition: transform .3s;
		}

		.play-pause::after {
		  transform-origin: bottom left;
		}

		.play-pause.paused::before {
		  transform: skew(64deg);
		}

		.play-pause.paused::after {
		  transform: skew(117deg);
		}

	.blogCategoriaLink{
		display: block;
		padding: 0;
		text-align: center;
		background-color: #407145;
		border-radius: 5px;
		min-height: 40px;
		margin: 5px 0;
		color: #fff;
		padding: 8px 0;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}
	.blogCategoriaLink:hover{
		background-color: #fff;
		color: #407145;
	}
	.blogCategoriaLink i{
		color: #fff !important;
	}
	.blogCategoriaLink:hover i{
		color: #407145!important;
	}
	#video_player{
		margin-top: 108px!important;
		position: absolute;
		top: 45%!important;
		left: 50%!important;
		min-width: 100%!important;
		min-height: 80%!important;
		width: auto!important;
		height: auto!important;
		-webkit-transform: translate(-50%, -50%)!important;
		-ms-transform: translate(-50%, -50%)!important;
		transform: translate(-50%, -50%)!important;
	}
	div.wpcf7-validation-errors{
		color: #fff;
	}
	#sidebar-musica{
		z-index: 999!important;
	}

.pg-padrao {
	font-family: 'Open Sans', sans-serif;
	color: #2f6439;
    min-height: 85.8vh;
}
	.pg-padrao .container{
		padding: 20px;	
	}
		.pg-padrao .container p{
		    font-weight: 400;
		}
	.pg-padrao h2, .pg-padrao h3, .pg-padrao h1  {
		font-size: 20px;
		margin-bottom: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}